.TreeMenu {                                                      /* General   */
	font: icon;  white-space     : nowrap;          background-color: window; 
    margin: 5px;
    }

.TreeMenu a {                                                    /* Links     */
  color           : WindowText;         text-decoration : none; }

.TreeMenu img {                                                  /* Images    */
  border          : 0px;             vertical-align  : middle; }

*.CreatedBy:hover {                                              /* CreatedBy */
  color           : WindowText;         text-decoration : underline; }

*.Node_0, *.Selected_0, *.Item_0 {                               /* Indent=0  */
  font-size       : 12px;            font-weight     : bold;
  font-style      : normal;          padding-left    : 2px; }

*.Node_0:hover, *.Selected_0:hover {
  color           : WindowText;         text-decoration : underline; }

*.Item_0:hover { }

*.Node_1, *.Selected_1, *.Item_1 {                               /* Indent=1  */
  font-size       : 12px;            font-weight     : normal;
  font-style      : normal;          padding-left    : 2px;  }

*.Node_1:hover, *.Selected_1:hover {
  color           : WindowText;         text-decoration : underline; }

*.Item_1:hover { }

*.Node_2, *.Selected_2, *.Item_2 {                               /* Indent>1  */
  padding-left    : 2px;  }

*.Node_2:hover, *.Selected_2:hover {
  color           : WindowText;         text-decoration : underline; }

*.Item_2:hover { }

*.Selected_0, *.Selected_1, *.Selected_2 {                       /* Selected_ */
  background: Highlight; color:HighlightText;}


