<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2005-2006 Sunil Kamath (IcemanK).
# All rights reserved.
# This program is made available under the terms of the Common Public License
# v1.0 which is available at http://www.eclipse.org/legal/cpl-v10.html
# 
# Contributors:
#     Sunil Kamath (IcemanK) - initial API and implementation
###############################################################################
-->
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="%object.contribution.id"
            nameFilter="%jar.name.filter">
         <action
               enablesFor="+"
               label="%jarsigner.action.label"
               class="net.sf.jarsigner.actions.JARSignerAction"
               id="%jarsigner.action.id"/>
         <action
               enablesFor="+"
               label="%jarverifier.action.label"
               class="net.sf.jarsigner.actions.JARVerifierAction"
               id="%jarverifier.action.id"/>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="%object.contribution.id"
            nameFilter="%zip.name.filter">
         <action
               enablesFor="+"
               label="%jarsigner.action.label"
               class="net.sf.jarsigner.actions.JARSignerAction"
               id="%jarsigner.action.id"/>
         <action
               enablesFor="+"
               label="%jarverifier.action.label"
               class="net.sf.jarsigner.actions.JARVerifierAction"
               id="%jarverifier.action.id"/>
      </objectContribution>
   </extension>
</plugin>
