<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2004, 2005 Sunil Kamath (IcemanK).
# All rights reserved.
# This program is made available under the terms of the Common Public License
# v1.0 which is available at http://www.eclipse.org/legal/cpl-v10.html
# 
# Contributors:
#     Sunil Kamath (IcemanK) - initial API and implementation
###############################################################################
-->
<plugin
   id="net.sf.eclipsensis"
   name="%plugin.name"
   version="0.5.0"
   provider-name="Sunil Kamath"
   class="net.sf.eclipsensis.EclipseNSISPlugin">

   <runtime>
      <library name="eclipsensis.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.core.filebuffers"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.help"/>
   </requires>

   <extension
         point="org.eclipse.core.runtime.products">
      <product name="%product.name" application="org.eclipse.ui.ide.workbench" description="%product.description"> 
          <property name="windowImage" value="%product.window.image"/> 
          <property name="aboutImage" value="%product.about.image"/> 
          <property name="aboutText" value="%about.text"/> 
          <property name="appName" value="%product.name"/> 
      </product> 
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%editor.name"
            extensions="%nsis.extensions"
            icon="%editor.icon"
            contributorClass="net.sf.eclipsensis.editor.NSISActionContributor"
            class="net.sf.eclipsensis.editor.NSISEditor"
            id="net.sf.eclipsensis.editor.NSISEditor"
            symbolicFontName="net.sf.eclipsensis.editor.Font">
      </editor>
   </extension>
   <extension
        point="org.eclipse.ui.editors.annotationTypes">
        <type
            name="net.sf.eclipsensis.editor.error"
            super="org.eclipse.ui.workbench.texteditor.error"
            markerType="net.sf.eclipsensis.NSISCompileProblem"
            markerSeverity="2">
        </type>
        <type
            name="net.sf.eclipsensis.editor.warning"
            super="org.eclipse.ui.workbench.texteditor.warning"
            markerType="net.sf.eclipsensis.NSISCompileProblem"
            markerSeverity="1">
        </type>
        <type
            name="net.sf.eclipsensis.editor.task"
            super="org.eclipse.ui.workbench.texteditor.task"
            markerType="net.sf.eclipsensis.NSISTask"
            markerSeverity="0">
        </type>
        <type
            name="net.sf.eclipsensis.editor.bookmark"
            super="org.eclipse.ui.workbench.texteditor.bookmark"
            markerType="org.eclipse.core.resources.bookmark"
            markerSeverity="0">
        </type>
   </extension>
   <extension
        id="net.sf.eclipsensis.editor.NSISDocumentSetupParticipant"
        name="%document.setup.participant.name"
        point="org.eclipse.core.filebuffers.documentSetup">
        <participant
            extensions="%nsis.extensions"
            class="net.sf.eclipsensis.editor.NSISDocumentSetupParticipant">
        </participant>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%preference.page.name"
            class="net.sf.eclipsensis.dialogs.NSISPreferencePage"
            id="net.sf.eclipsensis.dialogs.NSISPreferencePage">
      </page>
      <page
            name="%editor.preference.page.name"
            category="net.sf.eclipsensis.dialogs.NSISPreferencePage"
            class="net.sf.eclipsensis.dialogs.NSISEditorPreferencePage"
            id="net.sf.eclipsensis.dialogs.NSISEditorPreferencePage">
      </page>
      <page
            name="%templates.preference.page.name"
            category="net.sf.eclipsensis.dialogs.NSISEditorPreferencePage"
            class="net.sf.eclipsensis.dialogs.NSISTemplatePreferencePage"
            id="net.sf.eclipsensis.dialogs.NSISTemplatePreferencePage">
      </page>
      <page
            name="%task.tags.preference.page.name"
            category="net.sf.eclipsensis.dialogs.NSISEditorPreferencePage"
            class="net.sf.eclipsensis.dialogs.NSISTaskTagsPreferencePage"
            id="net.sf.eclipsensis.dialogs.NSISTaskTagsPreferencePage">
      </page>
      <page
            name="%wizard.templates.preference.page.name"
            category="net.sf.eclipsensis.dialogs.NSISPreferencePage"
            class="net.sf.eclipsensis.dialogs.NSISWizardTemplatePreferencePage"
            id="net.sf.eclipsensis.dialogs.NSISWizardTemplatePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IFile"
            icon="%property.page.icon"
            class="net.sf.eclipsensis.dialogs.NSISPropertyPage"
            nameFilter="%nsi.extension"
            name="%property.page.name"
            id="net.sf.eclipsensis.dialogs.NSISPropertyPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%view.category.name"
            id="net.sf.eclipsensis">
      </category>
      <view
            allowMultiple="false"
            class="net.sf.eclipsensis.console.NSISConsole"
            icon="%console.icon"
            category="net.sf.eclipsensis"
            name="%console.name"
            id="net.sf.eclipsensis.console.NSISConsole">
      </view>
      <view
            allowMultiple="false"
            class="net.sf.eclipsensis.help.NSISHTMLHelp"
            icon="%htmlhelp.icon"
            category="net.sf.eclipsensis"
            name="%htmlhelp.name"
            id="net.sf.eclipsensis.help.NSISHTMLHelp">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="net.sf.eclipsensis.editor.NSISEditor"
            id="net.sf.eclipsensis.editorContribution">
         <menu
               label="%nsis.menu.name"
               id="net.sf.eclipsensis.Menu">
            <separator
                  name="net.sf.eclipsensis.Group">
            </separator>
            <separator
                  name="net.sf.eclipsensis.Group2">
            </separator>
            <separator
                  name="net.sf.eclipsensis.Group3">
            </separator>
         </menu>
         <action
               label="%about.action.name"
               class="net.sf.eclipsensis.actions.NSISAboutAction"
               tooltip="%about.action.tooltip"
               menubarPath="net.sf.eclipsensis.Menu/net.sf.eclipsensis.Group3"
               id="net.sf.eclipsensis.actions.NSISAboutAction">
         </action>
         <action
               label="%htmlhelp.action.name"
               icon="%htmlhelp.action.icon"
               class="net.sf.eclipsensis.actions.NSISHTMLHelpAction"
               tooltip="%htmlhelp.action.tooltip"
               menubarPath="net.sf.eclipsensis.Menu/net.sf.eclipsensis.Group3"
               toolbarPath="net.sf.eclipsensis.Group"
               id="net.sf.eclipsensis.actions.NSISHTMLHelpAction">
         </action>
         <action
               label="%help.action.name"
               disabledIcon="%help.action.disabledicon"
               icon="%help.action.icon"
               class="net.sf.eclipsensis.actions.NSISHelpAction"
               tooltip="%help.action.tooltip"
               menubarPath="net.sf.eclipsensis.Menu/net.sf.eclipsensis.Group3"
               toolbarPath="net.sf.eclipsensis.Group"
               id="net.sf.eclipsensis.actions.NSISHelpAction">
         </action>
         <action
               disabledIcon="%wizard.action.disabledicon"
               toolbarPath="net.sf.eclipsensis.Group"
               label="%wizard.action.name"
               tooltip="%wizard.action.tooltip"
               class="net.sf.eclipsensis.actions.NSISWizardAction"
               icon="%wizard.action.icon"
               menubarPath="net.sf.eclipsensis.Menu/net.sf.eclipsensis.Group2"
               id="net.sf.eclipsensis.actions.NSISWizardAction">
         </action>
         <action
               label="%preferences.action.name"
               disabledIcon="%preferences.action.disabledicon"
               icon="%preferences.action.icon"
               class="net.sf.eclipsensis.actions.NSISPreferencesAction"
               tooltip="%preferences.action.tooltip"
               menubarPath="net.sf.eclipsensis.Menu/net.sf.eclipsensis.Group2"
               toolbarPath="net.sf.eclipsensis.Group"
               id="net.sf.eclipsensis.actions.NSISPreferencesAction">
         </action>
         <action
               disabledIcon="%cancel.action.disabledicon"
               toolbarPath="net.sf.eclipsensis.Group"
               label="%cancel.action.name"
               definitionId="net.sf.eclipsensis.commands.NSISCancel"
               tooltip="%cancel.action.tooltip"
               class="net.sf.eclipsensis.actions.NSISCancelAction"
               icon="%cancel.action.icon"
               menubarPath="net.sf.eclipsensis.Menu/net.sf.eclipsensis.Group"
               id="net.sf.eclipsensis.actions.NSISCancelAction">
         </action>
         <action
               disabledIcon="%compile.test.action.disabledicon"
               toolbarPath="net.sf.eclipsensis.Group"
               label="%compile.test.action.name"
               definitionId="net.sf.eclipsensis.commands.NSISCompileTest"
               tooltip="%compile.test.action.tooltip"
               class="net.sf.eclipsensis.actions.NSISCompileTestAction"
               icon="%compile.test.action.icon"
               menubarPath="net.sf.eclipsensis.Menu/net.sf.eclipsensis.Group"
               id="net.sf.eclipsensis.actions.NSISCompileTestAction">
         </action>
         <action
               disabledIcon="%test.action.disabledicon"
               toolbarPath="net.sf.eclipsensis.Group"
               label="%test.action.name"
               definitionId="net.sf.eclipsensis.commands.NSISTest"
               tooltip="%test.action.tooltip"
               class="net.sf.eclipsensis.actions.NSISTestAction"
               icon="%test.action.icon"
               menubarPath="net.sf.eclipsensis.Menu/net.sf.eclipsensis.Group"
               id="net.sf.eclipsensis.actions.NSISTestAction">
         </action>
         <action
               disabledIcon="%compile.action.disabledicon"
               toolbarPath="net.sf.eclipsensis.Group"
               label="%compile.action.name"
               definitionId="net.sf.eclipsensis.commands.NSISCompile"
               tooltip="%compile.action.tooltip"
               class="net.sf.eclipsensis.actions.NSISCompileAction"
               icon="%compile.action.icon"
               menubarPath="net.sf.eclipsensis.Menu/net.sf.eclipsensis.Group"
               id="net.sf.eclipsensis.actions.NSISCompileAction">
         </action>
      </editorContribution>            
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               visible="false"
               ratio="0.5"
               id="net.sf.eclipsensis.console.NSISConsole"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"/>
         <newWizardShortcut
               id="net.sf.eclipsensis.wizard.NSISScriptWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               visible="false"
               ratio="0.5"
               id="net.sf.eclipsensis.console.NSISConsole"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"/>
         <newWizardShortcut
               id="net.sf.eclipsensis.wizard.NSISScriptWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.pde.ui.PDEPerspective">
         <view
               visible="false"
               ratio="0.5"
               id="net.sf.eclipsensis.console.NSISConsole"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"/>
         <newWizardShortcut
               id="net.sf.eclipsensis.wizard.NSISScriptWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="%nsi.extension"
            id="net.sf.eclipsensis.popupMenuContribution">
         <menu
               label="%nsis.menu.name"
               path="additions"
               id="net.sf.eclipsensis.PopupMenu">
            <separator name="net.sf.eclipsensis.PopupGroup"/>
         </menu>
         <action
               enablesFor="1"
               label="%compile.test.action.name"
               icon="%compile.test.action.icon"
               class="net.sf.eclipsensis.actions.NSISCompileTestAction"
               tooltip="%compile.test.action.tooltip"
               menubarPath="net.sf.eclipsensis.PopupMenu/net.sf.eclipsensis.PopupGroup"
               id="net.sf.eclipsensis.popup.actions.NSISCompileTestAction">
         </action>
         <action
               enablesFor="1"
               label="%test.action.name"
               icon="%test.action.icon"
               class="net.sf.eclipsensis.actions.NSISTestAction"
               tooltip="%test.action.tooltip"
               menubarPath="net.sf.eclipsensis.PopupMenu/net.sf.eclipsensis.PopupGroup"
               id="net.sf.eclipsensis.popup.actions.NSISTestAction">
         </action>
         <action
               enablesFor="1"
               label="%compile.action.name"
               icon="%compile.action.icon"
               class="net.sf.eclipsensis.actions.NSISCompileAction"
               tooltip="%compile.action.tooltip"
               menubarPath="net.sf.eclipsensis.PopupMenu/net.sf.eclipsensis.PopupGroup"
               id="net.sf.eclipsensis.popup.actions.NSISCompileAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="NSISCompileProblem"
         name="%compile.problem.marker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true" />
   </extension>
   <extension
         id="NSISTask"
         name="%task.marker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.taskmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         id="net.sf.eclipsensis.help.NSISHelpProducer"
         name="%help.name"
         point="org.eclipse.help.contentProducer">
       <contentProducer producer="net.sf.eclipsensis.help.NSISHelpProducer"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc file="toc.xml" primary="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            name="%context.editingNSISSource.name"
            description="%context.editingNSISSource.description"
            parentId="org.eclipse.ui.textEditorScope"
            id="net.sf.eclipsensis.NSISEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
         name="%category.name"
         description="%category.description"
         id="net.sf.eclipsensis.NSISCategory">
      </category>
      <command
         name="%insert.template.name"
         description="%insert.template.description"
         id="net.sf.eclipsensis.commands.NSISInsertTemplate"
         categoryId="net.sf.eclipsensis.NSISCategory"/>
      <keyBinding
          keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="net.sf.eclipsensis.commands.NSISInsertTemplate"
          contextId="net.sf.eclipsensis.NSISEditorScope"
          keySequence="%insert.template.keysequence"/>
      <command
         name="%goto.help.name"
         description="%goto.help.description"
         id="net.sf.eclipsensis.commands.NSISGotoHelp"
         categoryId="net.sf.eclipsensis.NSISCategory"/>
      <keyBinding
          keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="net.sf.eclipsensis.commands.NSISGotoHelp"
          contextId="net.sf.eclipsensis.NSISEditorScope"
          keySequence="%goto.help.keysequence"/>
      <command
         name="%sticky.help.name"
         description="%sticky.help.description"
         id="net.sf.eclipsensis.commands.NSISStickyHelp"
         categoryId="net.sf.eclipsensis.NSISCategory"/>
      <keyBinding
          keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="net.sf.eclipsensis.commands.NSISStickyHelp"
          contextId="net.sf.eclipsensis.NSISEditorScope"
          keySequence="%sticky.help.keysequence"/>
      <command
         name="%insert.file.name"
         description="%insert.file.description"
         id="net.sf.eclipsensis.commands.NSISInsertFile"
         categoryId="net.sf.eclipsensis.NSISCategory"/>
      <keyBinding
          keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="net.sf.eclipsensis.commands.NSISInsertFile"
          contextId="net.sf.eclipsensis.NSISEditorScope"
          keySequence="%insert.file.keysequence"/>
      <command
         name="%insert.directory.name"
         description="%insert.directory.description"
         id="net.sf.eclipsensis.commands.NSISInsertDirectory"
         categoryId="net.sf.eclipsensis.NSISCategory"/>
      <keyBinding
          keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="net.sf.eclipsensis.commands.NSISInsertDirectory"
          contextId="net.sf.eclipsensis.NSISEditorScope"
          keySequence="%insert.directory.keysequence"/>
      <command
         name="%insert.color.name"
         description="%insert.color.description"
         id="net.sf.eclipsensis.commands.NSISInsertColor"
         categoryId="net.sf.eclipsensis.NSISCategory"/>
      <keyBinding
          keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="net.sf.eclipsensis.commands.NSISInsertColor"
          contextId="net.sf.eclipsensis.NSISEditorScope"
          keySequence="%insert.color.keysequence"/>
      <command
         name="%tabs.to.spaces.name"
         description="%tabs.to.spaces.description"
         id="net.sf.eclipsensis.commands.NSISTabsToSpaces"
         categoryId="net.sf.eclipsensis.NSISCategory"/>
      <command
         name="%toggle.comment.name"
         description="%toggle.comment.description"
         id="net.sf.eclipsensis.commands.NSISToggleComment"
         categoryId="net.sf.eclipsensis.NSISCategory"/>
      <keyBinding
          keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="net.sf.eclipsensis.commands.NSISToggleComment"
          contextId="net.sf.eclipsensis.NSISEditorScope"
          keySequence="%toggle.comment.keysequence"/>
      <command
         name="%add.block.comment.name"
         description="%add.block.comment.description"
         id="net.sf.eclipsensis.commands.NSISAddBlockComment"
         categoryId="net.sf.eclipsensis.NSISCategory"/>
      <keyBinding
          keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="net.sf.eclipsensis.commands.NSISAddBlockComment"
          contextId="net.sf.eclipsensis.NSISEditorScope"
          keySequence="%add.block.comment.keysequence"/>
      <command
         name="%remove.block.comment.name"
         description="%remove.block.comment.description"
         id="net.sf.eclipsensis.commands.NSISRemoveBlockComment"
         categoryId="net.sf.eclipsensis.NSISCategory"/>
      <keyBinding
          keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="net.sf.eclipsensis.commands.NSISRemoveBlockComment"
          contextId="net.sf.eclipsensis.NSISEditorScope"
          keySequence="%remove.block.comment.keysequence"/>
      <command
         name="%compile.name"
         description="%compile.description"
         id="net.sf.eclipsensis.commands.NSISCompile"
         categoryId="net.sf.eclipsensis.NSISCategory"/>
      <keyBinding
          keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="net.sf.eclipsensis.commands.NSISCompile"
          contextId="net.sf.eclipsensis.NSISEditorScope"
          keySequence="%compile.keysequence"/>
      <command
         name="%compile.test.name"
         description="%compile.test.description"
         id="net.sf.eclipsensis.commands.NSISCompileTest"
         categoryId="net.sf.eclipsensis.NSISCategory"/>
      <keyBinding
          keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="net.sf.eclipsensis.commands.NSISCompileTest"
          contextId="net.sf.eclipsensis.NSISEditorScope"
          keySequence="%compile.test.keysequence"/>
      <command
         name="%test.name"
         description="%test.description"
         id="net.sf.eclipsensis.commands.NSISTest"
         categoryId="net.sf.eclipsensis.NSISCategory"/>
      <keyBinding
          keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="net.sf.eclipsensis.commands.NSISTest"
          contextId="net.sf.eclipsensis.NSISEditorScope"
          keySequence="%test.keysequence"/>
      <command
         name="%cancel.name"
         description="%cancel.description"
         id="net.sf.eclipsensis.commands.NSISCancel"
         categoryId="net.sf.eclipsensis.NSISCategory"/>
      <keyBinding
          keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="net.sf.eclipsensis.commands.NSISCancel"
          contextId="net.sf.eclipsensis.NSISEditorScope"
          keySequence="%cancel.keysequence"/>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
       <contexts file="contexts.xml"/> 
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%wizard.category"
            id="net.sf.eclipsensis"/>
      <wizard
            class="net.sf.eclipsensis.wizard.NSISScriptWizard"
            icon="%wizard.icon"
            category="net.sf.eclipsensis"
            name="%wizard.name"
            id="net.sf.eclipsensis.wizard.NSISScriptWizard"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            name="%nsis.contextType.name"
            class="net.sf.eclipsensis.editor.template.NSISTemplateContextType"
            id="net.sf.eclipsensis.editor.template.NSISTemplateContextType">
      </contextType>
      <template
            name="%function.name"
            icon="icons/template.gif"
            description="%function.description"
            contextTypeId="net.sf.eclipsensis.editor.template.NSISTemplateContextType"
            id="net.sf.eclipsensis.editor.template.nsis.Function">
         <pattern>Function %name%&#13;&#10;FunctionEnd&#13;&#10;</pattern>
      </template>
      <template
            name="%section.name"
            icon="icons/template.gif"
            description="%section.description"
            contextTypeId="net.sf.eclipsensis.editor.template.NSISTemplateContextType"
            id="net.sf.eclipsensis.editor.template.nsis.Section">
         <pattern>Section %name%&#13;&#10;SectionEnd&#13;&#10;</pattern>
      </template>
      <template
            name="%page.name"
            icon="icons/template.gif"
            description="%page.description"
            contextTypeId="net.sf.eclipsensis.editor.template.NSISTemplateContextType"
            id="net.sf.eclipsensis.editor.template.nsis.Page">
         <pattern>Page %pagetype%&#13;&#10;</pattern>
      </template>
      <template
            name="%pageex.name"
            icon="icons/template.gif"
            description="%pageex.description"
            contextTypeId="net.sf.eclipsensis.editor.template.NSISTemplateContextType"
            id="net.sf.eclipsensis.editor.template.nsis.PageEx">
         <pattern>PageEx %pagetype%&#13;&#10;PageExEnd&#13;&#10;</pattern>
      </template>
      <resolver
            name="%nsis.resolvers.register.name"
            type="register"
            icon="icons/nsis.gif"
            description="%nsis.resolvers.register.description"
            contextTypeId="net.sf.eclipsensis.editor.template.NSISTemplateContextType"
            class="net.sf.eclipsensis.editor.template.resolvers.NSISRegisterVariableResolver">
      </resolver>
      <resolver
            name="%nsis.resolvers.pathconst.name"
            type="pathconst"
            icon="icons/nsis.gif"
            description="%nsis.resolvers.pathconst.description"
            contextTypeId="net.sf.eclipsensis.editor.template.NSISTemplateContextType"
            class="net.sf.eclipsensis.editor.template.resolvers.NSISPathConstantVariableResolver">
      </resolver>
      <resolver
            name="%nsis.resolvers.pathvar.name"
            type="pathvar"
            icon="icons/nsis.gif"
            description="%nsis.resolvers.pathvar.description"
            contextTypeId="net.sf.eclipsensis.editor.template.NSISTemplateContextType"
            class="net.sf.eclipsensis.editor.template.resolvers.NSISPathVariableVariableResolver">
      </resolver>
      <resolver
            name="%nsis.resolvers.predefine.name"
            type="predefine"
            icon="icons/nsis.gif"
            description="%nsis.resolvers.predefine.description"
            contextTypeId="net.sf.eclipsensis.editor.template.NSISTemplateContextType"
            class="net.sf.eclipsensis.editor.template.resolvers.NSISPredefineVariableResolver">
      </resolver>
      <resolver
            name="%nsis.resolvers.pagetype.name"
            type="pagetype"
            icon="icons/nsis.gif"
            description="%nsis.resolvers.pagetype.description"
            contextTypeId="net.sf.eclipsensis.editor.template.NSISTemplateContextType"
            class="net.sf.eclipsensis.editor.template.resolvers.NSISPagetypeVariableResolver">
      </resolver>
   </extension>
   <extension
      point="org.eclipse.ui.themes">
      <themeElementCategory 
             label="%nsis.theme.category.name"
             id="net.sf.eclipsensis.themes.NSIS">
             <description>
                %nsis.theme.category.description
             </description>
      </themeElementCategory>
      <themeElementCategory 
             label="%nsis.console.theme.category.name"
             id="net.sf.eclipsensis.themes.NSISConsole"
             parentId= "net.sf.eclipsensis.themes.NSIS">
             <description>
                %nsis.console.theme.category.description
             </description>
      </themeElementCategory>
      <fontDefinition
          label="%nsis.editor.font.name"
          defaultsTo="org.eclipse.jface.textfont"
          categoryId="net.sf.eclipsensis.themes.NSIS"
          id="net.sf.eclipsensis.editor.Font">
          <description>
             %nsis.editor.font.description
          </description>
      </fontDefinition>
      <fontDefinition
          label="%nsis.console.font.name"
          defaultsTo="org.eclipse.jface.textfont"
          categoryId="net.sf.eclipsensis.themes.NSISConsole"
          id="net.sf.eclipsensis.console.Font">
          <description>
             %nsis.console.font.description
          </description>
      </fontDefinition>
      <colorDefinition
          label="%nsis.console.error.color.name"
          defaultsTo="ERROR_COLOR"
          categoryId="net.sf.eclipsensis.themes.NSISConsole"
          id="net.sf.eclipsensis.console.ErrorColor">
          <description>
             %nsis.console.error.color.description
          </description>
      </colorDefinition>
      <colorDefinition
          label="%nsis.console.warning.color.name"
          value="255,127,0"
          categoryId="net.sf.eclipsensis.themes.NSISConsole"
          id="net.sf.eclipsensis.console.WarningColor">
          <description>
             %nsis.console.warning.color.description
          </description>
      </colorDefinition>
      <colorDefinition
          label="%nsis.console.info.color.name"
          value="COLOR_BLUE"
          categoryId="net.sf.eclipsensis.themes.NSISConsole"
          id="net.sf.eclipsensis.console.InfoColor">
          <description>
             %nsis.console.info.color.description
          </description>
      </colorDefinition>
      <colorDefinition
          label="%nsis.template.variable.color.name"
          value="0,128,128"
          categoryId="net.sf.eclipsensis.themes.NSIS"
          id="net.sf.eclipsensis.template.TemplateVariableColor">
          <description>
             %nsis.template.variable.color.description
          </description>
      </colorDefinition>
   </extension>
</plugin>
