<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2004, 2005 Sunil Kamath (IcemanK).
# All rights reserved.
# This program is made available under the terms of the Common Public License
# v1.0 which is available at http://www.eclipse.org/legal/cpl-v10.html
# 
# Contributors:
#     Sunil Kamath (IcemanK) - initial API and implementation
###############################################################################
-->
<plugin>
   <extension-point id="helpBrowserLocalFileHandler" name="%help.browser.file.handler.extension.name" schema="schema/helpBrowserLocalFileHandler.exsd"/>
   <extension
         point="org.eclipse.core.runtime.products">
      <product name="%product.name" application="org.eclipse.ui.ide.workbench" description="%product.description"> 
          <property name="windowImage" value="%product.window.image"/> 
          <property name="aboutImage" value="%product.about.image"/> 
          <property name="aboutText" value="%about.text"/> 
          <property name="appName" value="%product.name"/> 
      </product> 
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%editor.name"
            extensions="%nsis.extensions"
            icon="%editor.icon"
            contributorClass="net.sf.eclipsensis.editor.NSISActionContributor"
            class="net.sf.eclipsensis.editor.NSISEditor"
            id="%editor.id">
      </editor>
   </extension>
   <extension 
      point="org.eclipse.ui.editors.documentProviders">
      <provider 
         inputTypes="net.sf.eclipsensis.editor.NSISExternalFileEditorInput"
         extensions="%nsis.extensions"
         class="org.eclipse.ui.editors.text.TextFileDocumentProvider"
         id="net.sf.eclipsensis.editor.ExternalFileDocumentProvider">
      </provider>
   </extension>
   <extension
        point="org.eclipse.ui.editors.annotationTypes">
        <type
            name="%nsis.error.annotation.name"
            super="org.eclipse.ui.workbench.texteditor.error"
            markerSeverity="2">
        </type>
        <type
            name="%nsis.warning.annotation.name"
            super="org.eclipse.ui.workbench.texteditor.warning"
            markerSeverity="1">
        </type>
        <type
            name="%nsis.task.annotation.name"
            super="org.eclipse.ui.workbench.texteditor.task"
            markerType="%task.marker.id"
            markerSeverity="0">
        </type>
        <type
            name="%nsis.bookmark.annotation.name"
            super="org.eclipse.ui.workbench.texteditor.bookmark"
            markerType="org.eclipse.core.resources.bookmark"
            markerSeverity="0">
        </type>
   </extension>
   <extension
        id="NSISDocumentSetupParticipant"
        name="%document.setup.participant.name"
        point="org.eclipse.core.filebuffers.documentSetup">
        <participant
            extensions="%nsis.extensions"
            class="net.sf.eclipsensis.editor.NSISDocumentSetupParticipant">
        </participant>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%preference.page.name"
            class="net.sf.eclipsensis.dialogs.NSISPreferencePage"
            id="%preference.page.id">
      </page>
      <page
            name="%editor.preference.page.name"
            category="%preference.page.id"
            class="net.sf.eclipsensis.dialogs.NSISEditorPreferencePage"
            id="%editor.preference.page.id">
      </page>
      <page
            name="%templates.preference.page.name"
            category="%editor.preference.page.id"
            class="net.sf.eclipsensis.dialogs.NSISTemplatePreferencePage"
            id="%template.preference.page.id">
      </page>
      <page
            name="%task.tags.preference.page.name"
            category="%editor.preference.page.id"
            class="net.sf.eclipsensis.dialogs.NSISTaskTagsPreferencePage"
            id="%task.tags.preference.page.id">
      </page>
      <page
            name="%wizard.templates.preference.page.name"
            category="%preference.page.id"
            class="net.sf.eclipsensis.dialogs.NSISWizardTemplatePreferencePage"
            id="%wizard.template.preference.page.id">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="true"
            icon="%property.page.icon"
            class="net.sf.eclipsensis.dialogs.NSISPropertyPage"
            nameFilter="%nsi.extension"
            name="%property.page.name"
            id="%file.property.page.id">
      </page>
      <page
            objectClass="org.eclipse.core.resources.IFolder"
            adaptable="true"
            icon="%property.page.icon"
            class="net.sf.eclipsensis.dialogs.NSISPropertyPage"
            name="%property.page.name"
            id="%folder.property.page.id">
      </page>
      <page
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            icon="%property.page.icon"
            class="net.sf.eclipsensis.dialogs.NSISPropertyPage"
            name="%property.page.name"
            id="%project.property.page.id">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%view.category.name"
            id="%view.category.id">
      </category>
      <view
            allowMultiple="false"
            class="net.sf.eclipsensis.console.OldNSISConsole"
            icon="%console.icon"
            category="%view.category.id"
            name="%console.name"
            id="%console.id">
      </view>
      <view
            allowMultiple="false"
            class="net.sf.eclipsensis.help.NSISHTMLHelp"
            icon="%htmlhelp.icon"
            category="%view.category.id"
            name="%htmlhelp.name"
            id="%htmlhelp.id">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="%editor.id"
            id="%editor.contribution.id">
         <menu
               label="%nsis.menu.name"
               id="net.sf.eclipsensis.Menu">
            <separator
                  name="net.sf.eclipsensis.Group">
            </separator>
            <separator
                  name="net.sf.eclipsensis.Group2">
            </separator>
            <separator
                  name="net.sf.eclipsensis.Group3">
            </separator>
         </menu>
         <action
               label="%about.action.name"
               class="net.sf.eclipsensis.actions.NSISAboutAction"
               tooltip="%about.action.tooltip"
               menubarPath="net.sf.eclipsensis.Menu/net.sf.eclipsensis.Group3"
               id="%about.action.id">
         </action>
         <action
               label="%htmlhelp.action.name"
               icon="%htmlhelp.action.icon"
               class="net.sf.eclipsensis.actions.NSISHTMLHelpAction"
               tooltip="%htmlhelp.action.tooltip"
               menubarPath="net.sf.eclipsensis.Menu/net.sf.eclipsensis.Group3"
               toolbarPath="net.sf.eclipsensis.Group"
               id="%htmlhelp.action.id">
         </action>
         <action
               label="%help.action.name"
               disabledIcon="%help.action.disabledicon"
               icon="%help.action.icon"
               class="net.sf.eclipsensis.actions.NSISHelpAction"
               tooltip="%help.action.tooltip"
               menubarPath="net.sf.eclipsensis.Menu/net.sf.eclipsensis.Group3"
               toolbarPath="net.sf.eclipsensis.Group"
               id="%help.action.id">
         </action>
         <action
               disabledIcon="%wizard.action.disabledicon"
               toolbarPath="net.sf.eclipsensis.Group"
               label="%wizard.action.name"
               tooltip="%wizard.action.tooltip"
               class="net.sf.eclipsensis.actions.NSISWizardAction"
               icon="%wizard.action.icon"
               menubarPath="net.sf.eclipsensis.Menu/net.sf.eclipsensis.Group2"
               id="%wizard.action.id">
         </action>
         <action
               label="%preferences.action.name"
               disabledIcon="%preferences.action.disabledicon"
               icon="%preferences.action.icon"
               class="net.sf.eclipsensis.actions.NSISPreferencesAction"
               tooltip="%preferences.action.tooltip"
               menubarPath="net.sf.eclipsensis.Menu/net.sf.eclipsensis.Group2"
               toolbarPath="net.sf.eclipsensis.Group"
               id="%preferences.action.id">
         </action>
         <action
               label="%clear.markers.action.name"
               tooltip="%clear.markers.action.tooltip"
               class="net.sf.eclipsensis.actions.NSISClearMarkersAction"
               menubarPath="net.sf.eclipsensis.Menu/net.sf.eclipsensis.Group"
               definitionId="net.sf.eclipsensis.commands.NSISClearMarkers"
               id="%clear.markers.action.id">
         </action>
         <action
               disabledIcon="%cancel.action.disabledicon"
               toolbarPath="net.sf.eclipsensis.Group"
               label="%cancel.action.name"
               definitionId="net.sf.eclipsensis.commands.NSISCancel"
               tooltip="%cancel.action.tooltip"
               class="net.sf.eclipsensis.actions.NSISCancelAction"
               icon="%cancel.action.icon"
               menubarPath="net.sf.eclipsensis.Menu/net.sf.eclipsensis.Group"
               id="%cancel.action.id">
         </action>
         <action
               disabledIcon="%compile.test.action.disabledicon"
               toolbarPath="net.sf.eclipsensis.Group"
               label="%compile.test.action.name"
               definitionId="%compile.test.command.id"
               tooltip="%compile.test.action.tooltip"
               class="net.sf.eclipsensis.actions.NSISCompileTestAction"
               icon="%compile.test.action.icon"
               menubarPath="net.sf.eclipsensis.Menu/net.sf.eclipsensis.Group"
               id="%compile.test.action.id">
         </action>
         <action
               disabledIcon="%test.action.disabledicon"
               toolbarPath="net.sf.eclipsensis.Group"
               label="%test.action.name"
               definitionId="%test.command.id"
               tooltip="%test.action.tooltip"
               class="net.sf.eclipsensis.actions.NSISTestAction"
               icon="%test.action.icon"
               menubarPath="net.sf.eclipsensis.Menu/net.sf.eclipsensis.Group"
               id="%test.action.id">
         </action>
         <action
               disabledIcon="%compile.action.disabledicon"
               toolbarPath="net.sf.eclipsensis.Group"
               label="%compile.action.name"
               definitionId="%compile.command.id"
               tooltip="%compile.action.tooltip"
               class="net.sf.eclipsensis.actions.NSISCompileAction"
               icon="%compile.action.icon"
               menubarPath="net.sf.eclipsensis.Menu/net.sf.eclipsensis.Group"
               id="%compile.action.id">
         </action>
      </editorContribution>            
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               visible="false"
               ratio="0.5"
               id="%console.id"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"/>
         <newWizardShortcut
               id="%wizard.id">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               visible="false"
               ratio="0.5"
               id="%console.id"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"/>
         <newWizardShortcut
               id="%wizard.id">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.pde.ui.PDEPerspective">
         <view
               visible="false"
               ratio="0.5"
               id="%console.id"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"/>
         <newWizardShortcut
               id="%wizard.id">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="%nsi.extension"
            id="%popup.menu.contribution.id">
         <menu
               label="%nsis.menu.name"
               path="additions"
               id="net.sf.eclipsensis.PopupMenu">
            <separator name="net.sf.eclipsensis.PopupGroup"/>
         </menu>
         <action
               enablesFor="1"
               label="%clear.markers.action.name"
               class="net.sf.eclipsensis.actions.NSISClearMarkersAction"
               tooltip="%clear.markers.action.tooltip"
               menubarPath="net.sf.eclipsensis.PopupMenu/net.sf.eclipsensis.PopupGroup"
               definitionId="%popup.clear.markers.command.id"
               id="%clear.markers.popup.menu.id">
         </action>
         <action
               enablesFor="1"
               label="%compile.test.action.name"
               icon="%compile.test.action.icon"
               class="net.sf.eclipsensis.actions.NSISCompileTestAction"
               tooltip="%compile.test.action.tooltip"
               menubarPath="net.sf.eclipsensis.PopupMenu/net.sf.eclipsensis.PopupGroup"
               definitionId="%popup.compile.test.command.id"
               id="%compile.test.popup.menu.id">
         </action>
         <action
               enablesFor="1"
               label="%test.action.name"
               icon="%test.action.icon"
               class="net.sf.eclipsensis.actions.NSISTestAction"
               tooltip="%test.action.tooltip"
               menubarPath="net.sf.eclipsensis.PopupMenu/net.sf.eclipsensis.PopupGroup"
               definitionId="%popup.test.command.id"
               id="%test.popup.menu.id">
         </action>
         <action
               enablesFor="1"
               label="%compile.action.name"
               icon="%compile.action.icon"
               class="net.sf.eclipsensis.actions.NSISCompileAction"
               tooltip="%compile.action.tooltip"
               menubarPath="net.sf.eclipsensis.PopupMenu/net.sf.eclipsensis.PopupGroup"
               definitionId="%popup.compile.command.id"
               id="%compile.popup.menu.id">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="NSISCompileProblem"
         name="%compile.problem.marker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true" />
   </extension>
   <extension
         id="NSISTask"
         name="%task.marker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.taskmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         id="NSISHelpProducer"
         name="%help.name"
         point="org.eclipse.help.contentProducer">
       <contentProducer>
          <producer class="net.sf.eclipsensis.help.NSISHelpProducer">
             <parameter name="pluginId" value="%plugin.id"/>
          </producer>
       </contentProducer>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc file="toc.xml" primary="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            name="%context.editingNSISSource.name"
            description="%context.editingNSISSource.description"
            parentId="org.eclipse.ui.textEditorScope"
            id="%context.editingNSISSource.id">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
         name="%category.name"
         description="%category.description"
         id="%category.id">
      </category>
      <command
         name="%insert.template.name"
         description="%insert.template.description"
         id="%insert.template.command.id"
         categoryId="%category.id"/>
      <command
         name="%goto.help.name"
         description="%goto.help.description"
         id="%goto.help.command.id"
         categoryId="%category.id"/>
      <command
         name="%sticky.help.name"
         description="%sticky.help.description"
         id="%sticky.help.command.id"
         categoryId="%category.id"/>
      <command
         name="%insert.file.name"
         description="%insert.file.description"
         id="%insert.file.command.id"
         categoryId="%category.id"/>
      <command
         name="%insert.directory.name"
         description="%insert.directory.description"
         id="%insert.directory.command.id"
         categoryId="%category.id"/>
      <command
         name="%insert.color.name"
         description="%insert.color.description"
         id="%insert.color.command.id"
         categoryId="%category.id"/>
      <command
         name="%tabs.to.spaces.name"
         description="%tabs.to.spaces.description"
         id="%tabs.to.spaces.command.id"
         categoryId="%category.id"/>
      <command
         name="%toggle.comment.name"
         description="%toggle.comment.description"
         id="%toggle.comment.command.id"
         categoryId="%category.id"/>
      <command
         name="%add.block.comment.name"
         description="%add.block.comment.description"
         id="%add.block.comment.command.id"
         categoryId="%category.id"/>
      <command
         name="%remove.block.comment.name"
         description="%remove.block.comment.description"
         id="%remove.block.comment.command.id"
         categoryId="%category.id"/>
      <command
         name="%compile.name"
         description="%compile.description"
         id="%compile.command.id"
         categoryId="%category.id"/>
      <command
         name="%clear.markers.name"
         description="%clear.markers.description"
         id="%clear.markers.command.id"
         categoryId="%category.id"/>
      <command
         name="%compile.test.name"
         description="%compile.test.description"
         id="%compile.test.command.id"
         categoryId="%category.id"/>
      <command
         name="%test.name"
         description="%test.description"
         id="%test.command.id"
         categoryId="%category.id"/>
      <command
         name="%cancel.name"
         description="%cancel.description"
         id="%cancel.command.id"
         categoryId="%category.id"/>
      <command
         name="%clear.markers.name"
         description="%clear.markers.description"
         id="%popup.clear.markers.command.id"
         defaultHandler="net.sf.eclipsensis.handlers.NSISClearMarkersHandler"
         categoryId="%category.id"/>
      <command
         name="%compile.name"
         description="%compile.description"
         id="%popup.compile.command.id"
         defaultHandler="net.sf.eclipsensis.handlers.NSISCompileHandler"
         categoryId="%category.id"/>
      <command
         name="%compile.test.name"
         description="%compile.test.description"
         id="%popup.compile.test.command.id"
         defaultHandler="net.sf.eclipsensis.handlers.NSISCompileTestHandler"
         categoryId="%category.id"/>
      <command
         name="%test.name"
         description="%test.description"
         id="%popup.test.command.id"
         defaultHandler="net.sf.eclipsensis.handlers.NSISTestHandler"
         categoryId="%category.id"/>
      <command
            name="%launch.shortcut.command.name"
            description="%launch.shortcut.command.description"
            categoryId="org.eclipse.debug.ui.category.run"
            id="net.sf.eclipsensis.launch.nsisLaunchShortcut.run">
      </command>
      <command
            categoryId="%category.id"
            description="%import.regfile.description"
            id="%import.regfile.command.id"
            name="%import.regfile.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            commandId="net.sf.eclipsensis.launch.nsisLaunchShortcut.run"
            contextId="org.eclipse.ui.globalScope"
            sequence="Alt+Shift+X N"/>
      <key
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="%insert.template.command.id"
          contextId="%context.editingNSISSource.id"
          sequence="%insert.template.keysequence"/>
      <key
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="%goto.help.command.id"
          contextId="%context.editingNSISSource.id"
          sequence="%goto.help.keysequence"/>
      <key
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="%sticky.help.command.id"
          contextId="%context.editingNSISSource.id"
          sequence="%sticky.help.keysequence"/>
      <key
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="%insert.file.command.id"
          contextId="%context.editingNSISSource.id"
          sequence="%insert.file.keysequence"/>
      <key
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="%insert.directory.command.id"
          contextId="%context.editingNSISSource.id"
          sequence="%insert.directory.keysequence"/>
      <key
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="%insert.color.command.id"
          contextId="%context.editingNSISSource.id"
          sequence="%insert.color.keysequence"/>
      <key
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="%toggle.comment.command.id"
          contextId="%context.editingNSISSource.id"
          sequence="%toggle.comment.keysequence"/>
      <key
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="%add.block.comment.command.id"
          contextId="%context.editingNSISSource.id"
          sequence="%add.block.comment.keysequence"/>
      <key
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="%remove.block.comment.command.id"
          contextId="%context.editingNSISSource.id"
          sequence="%remove.block.comment.keysequence"/>
      <key
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="%compile.command.id"
          contextId="%context.editingNSISSource.id"
          sequence="%compile.keysequence"/>
      <key
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="%compile.test.command.id"
          contextId="%context.editingNSISSource.id"
          sequence="%compile.test.keysequence"/>
      <key
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="%test.command.id"
          contextId="%context.editingNSISSource.id"
          sequence="%test.keysequence"/>
      <key
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="%clear.markers.command.id"
          contextId="%context.editingNSISSource.id"
          sequence="%clear.markers.keysequence"/>
      <key
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="%popup.compile.command.id"
          sequence="%compile.keysequence"/>
      <key
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="%popup.compile.test.command.id"
          sequence="%compile.test.keysequence"/>
      <key
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="%popup.test.command.id"
          sequence="%test.keysequence"/>
      <key
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="%popup.clear.markers.command.id"
          sequence="%clear.markers.keysequence"/>
      <key
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="%cancel.command.id"
          contextId="%context.editingNSISSource.id"
          sequence="%cancel.keysequence"/>
      <key
            commandId="%import.regfile.command.id"
            contextId="%context.editingNSISSource.id"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="%import.regfile.keysequence"/>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
       <contexts file="contexts.xml"/> 
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%wizard.category"
            id="%wizard.category.id"/>
      <wizard
            class="net.sf.eclipsensis.wizard.NSISScriptWizard"
            icon="%wizard.icon"
            category="%wizard.category.id"
            name="%wizard.name"
            id="%wizard.id"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            name="%nsis.contextType.name"
            class="net.sf.eclipsensis.editor.template.NSISTemplateContextType"
            id="%nsis.contextType.id">
      </contextType>
      <template
            name="%function.name"
            icon="icons/template.gif"
            description="%function.description"
            contextTypeId="%nsis.contextType.id"
            autoinsert="false"
            id="%function.id">
         <pattern>Function %name%&#13;&#10;FunctionEnd&#13;&#10;</pattern>
      </template>
      <template
            name="%section.name"
            icon="icons/template.gif"
            description="%section.description"
            contextTypeId="%nsis.contextType.id"
            autoinsert="false"
            id="%section.id">
         <pattern>Section %name%&#13;&#10;SectionEnd&#13;&#10;</pattern>
      </template>
      <template
            name="%page.name"
            icon="icons/template.gif"
            description="%page.description"
            contextTypeId="%nsis.contextType.id"
            autoinsert="false"
            id="%page.id">
         <pattern>Page %pagetype%&#13;&#10;</pattern>
      </template>
      <template
            name="%pageex.name"
            icon="icons/template.gif"
            description="%pageex.description"
            contextTypeId="%nsis.contextType.id"
            autoinsert="false"
            id="%pageex.id">
         <pattern>PageEx %pagetype%&#13;&#10;PageExEnd&#13;&#10;</pattern>
      </template>
      <resolver
            name="%nsis.resolvers.register.name"
            type="register"
            icon="icons/nsis.gif"
            description="%nsis.resolvers.register.description"
            contextTypeId="%nsis.contextType.id"
            class="net.sf.eclipsensis.editor.template.resolvers.NSISRegisterVariableResolver">
      </resolver>
      <resolver
            name="%nsis.resolvers.pathconst.name"
            type="pathconst"
            icon="icons/nsis.gif"
            description="%nsis.resolvers.pathconst.description"
            contextTypeId="%nsis.contextType.id"
            class="net.sf.eclipsensis.editor.template.resolvers.NSISPathConstantVariableResolver">
      </resolver>
      <resolver
            name="%nsis.resolvers.pathvar.name"
            type="pathvar"
            icon="icons/nsis.gif"
            description="%nsis.resolvers.pathvar.description"
            contextTypeId="%nsis.contextType.id"
            class="net.sf.eclipsensis.editor.template.resolvers.NSISPathVariableVariableResolver">
      </resolver>
      <resolver
            name="%nsis.resolvers.predefine.name"
            type="predefine"
            icon="icons/nsis.gif"
            description="%nsis.resolvers.predefine.description"
            contextTypeId="%nsis.contextType.id"
            class="net.sf.eclipsensis.editor.template.resolvers.NSISPredefineVariableResolver">
      </resolver>
      <resolver
            name="%nsis.resolvers.pagetype.name"
            type="pagetype"
            icon="icons/nsis.gif"
            description="%nsis.resolvers.pagetype.description"
            contextTypeId="%nsis.contextType.id"
            class="net.sf.eclipsensis.editor.template.resolvers.NSISPagetypeVariableResolver">
      </resolver>
   </extension>
   <extension
      point="org.eclipse.ui.themes">
      <themeElementCategory 
             label="%nsis.theme.category.name"
             id="%nsis.theme.category.id">
             <description>
                %nsis.theme.category.description
             </description>
      </themeElementCategory>
      <themeElementCategory 
             label="%nsis.console.theme.category.name"
             id="%nsis.console.theme.category.id"
             parentId= "%nsis.theme.category.id">
             <description>
                %nsis.console.theme.category.description
             </description>
      </themeElementCategory>
      <fontDefinition
          label="%nsis.console.font.name"
          defaultsTo="org.eclipse.jface.textfont"
          categoryId="%nsis.console.theme.category.id"
          id="%nsis.console.font.id">
          <description>
             %nsis.console.font.description
          </description>
      </fontDefinition>
      <colorDefinition
          label="%nsis.console.error.color.name"
          defaultsTo="ERROR_COLOR"
          categoryId="%nsis.console.theme.category.id"
          id="%nsis.console.error.color.id">
          <description>
             %nsis.console.error.color.description
          </description>
      </colorDefinition>
      <colorDefinition
          label="%nsis.console.warning.color.name"
          value="255,127,0"
          categoryId="%nsis.console.theme.category.id"
          id="%nsis.console.warning.color.id">
          <description>
             %nsis.console.warning.color.description
          </description>
      </colorDefinition>
      <colorDefinition
          label="%nsis.console.info.color.name"
          value="COLOR_BLUE"
          categoryId="%nsis.console.theme.category.id"
          id="%nsis.console.info.color.id">
          <description>
             %nsis.console.info.color.description
          </description>
      </colorDefinition>
      <colorDefinition
          label="%nsis.template.variable.color.name"
          value="0,128,128"
          categoryId="%nsis.theme.category.id"
          id="%nsis.template.variable.color.id">
          <description>
             %nsis.template.variable.color.description
          </description>
      </colorDefinition>
   </extension>
   <extension point="org.eclipse.core.filebuffers.annotationModelCreation">
       <factory 
         extensions="%nsis.extensions"
         class="net.sf.eclipsensis.editor.NSISAnnotationModelFactory"/>
   </extension>
   <extension
         id="localFileHandlers"
         point="net.sf.eclipsensis.helpBrowserLocalFileHandler">
      <handler
            class="net.sf.eclipsensis.help.DefaultLocalFileHandler"
            extensions="%default.help.file.extensions"/>
      <handler
            class="net.sf.eclipsensis.help.NSISLocalFileHandler"
            extensions="%nsis.extensions"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="net.sf.eclipsensis.launch.NSISLaunchConfigDelegate"
            id="net.sf.eclipsensis.launch.nsisLaunchConfigType"
            category="org.eclipse.ui.externaltools"
            modes="run"
            name="%launch.config.type.name">
         <fileExtension
               default="true"
               extension="nsi"/>
      </launchConfigurationType>
      <launchConfigurationType
            delegate="net.sf.eclipsensis.launch.NSISLaunchConfigDelegate"
            id="net.sf.eclipsensis.launch.nsisBuilderLaunchConfigType"
            category="org.eclipse.ui.externaltools.builder"
            modes="run"
            name="%builder.launch.config.type.name"/>
   </extension>
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="%launch.config.icon"
            configTypeID="net.sf.eclipsensis.launch.nsisLaunchConfigType"
            id="net.sf.eclipsensis.launch.nsisLaunchConfigTypeImage"/>
      <launchConfigurationTypeImage
            icon="%launch.config.icon"
            configTypeID="net.sf.eclipsensis.launch.nsisBuilderLaunchConfigType"
            id="net.sf.eclipsensis.launch.nsisBuilderLaunchConfigTypeImage"/>
   </extension>
   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="net.sf.eclipsensis.launch.nsisLaunchConfigType"
            class="net.sf.eclipsensis.launch.NSISLaunchConfigTabGroup"
            id="net.sf.eclipsensis.launch.nsisLaunchConfigTabGroup"/>
      <launchConfigurationTabGroup
            type="net.sf.eclipsensis.launch.nsisBuilderLaunchConfigType"
            class="net.sf.eclipsensis.launch.NSISBuilderLaunchConfigTabGroup"
            id="net.sf.eclipsensis.launch.nsisBuilderLaunchConfigTabGroup"/>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="net.sf.eclipsensis.console.NSISConsoleFactory"
            icon="%console.icon"
            label="%console.name"/>
   </extension>
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            id="net.sf.eclipsensis.IPathEditorInputTester"
            type="org.eclipse.ui.IPathEditorInput"
            namespace="net.sf.eclipsensis"
            properties="pathExtensionEquals"
 	        class="net.sf.eclipsensis.util.PathEditorInputTester">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="net.sf.eclipsensis.launch.NSISLaunchShortcut"
            icon="%launch.shortcut.icon"
            id="net.sf.eclipsensis.launch.nsisLaunchShortcut"
            label="%launch.shortcut.label"
            modes="run">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
                  <iterate>
                     <or>
                        <test property="org.eclipse.debug.ui.matchesPattern" value="*.nsi"/>
                        <test property="net.sf.eclipsensis.pathExtensionEquals" value="nsi"/>
                     </or>
                  </iterate>
               </with>
            </enablement>
  		 </contextualLaunch>
      </shortcut>
   </extension>
</plugin>
