<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2004, 2005 Sunil Kamath (IcemanK).
# All rights reserved.
# This program is made available under the terms of the Common Public License
# v1.0 which is available at http://www.eclipse.org/legal/cpl-v10.html
# 
# Contributors:
#     Sunil Kamath (IcemanK) - initial API and implementation
###############################################################################
-->
<plugin>
   <extension
         point="org.eclipse.core.runtime.products">
      <product name="%product.name" application="org.eclipse.ui.ide.workbench" description="%product.description"> 
          <property name="windowImage" value="%product.window.image"/> 
          <property name="aboutImage" value="%product.about.image"/> 
          <property name="aboutText" value="%about.text"/> 
          <property name="appName" value="%product.name"/> 
      </product> 
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            name="%installoptions.design.editor.name"
            extensions="%ini.extensions"
            icon="%installoptions.design.editor.icon"
            class="net.sf.eclipsensis.installoptions.editor.InstallOptionsDesignEditor"
            contributorClass="net.sf.eclipsensis.installoptions.actions.InstallOptionsDesignActionContributor"
            id="%installoptions.design.editor.id">
      </editor>
      <editor
            default="false"
            name="%installoptions.source.editor.name"
            extensions="%ini.extensions"
            icon="%installoptions.source.editor.icon"
            class="net.sf.eclipsensis.installoptions.editor.InstallOptionsSourceEditor"
            contributorClass="net.sf.eclipsensis.installoptions.actions.InstallOptionsSourceActionContributor"
            id="%installoptions.source.editor.id">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            name="%installoptions.wizard.name"
            icon="%installoptions.wizard.icon"
            category="net.sf.eclipsensis"
            class="net.sf.eclipsensis.installoptions.wizard.InstallOptionsWizard"
            id="%installoptions.wizard.id">
         <description>
            %installoptions.wizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
        id="InstallOptionsDocumentSetupParticipant"
        name="%document.setup.participant.name"
        point="org.eclipse.core.filebuffers.documentSetup">
        <participant
            extensions="%ini.extensions"
            class="net.sf.eclipsensis.installoptions.editor.InstallOptionsDocumentSetupParticipant">
        </participant>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <newWizardShortcut
               id="%installoptions.wizard.id">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut
               id="%installoptions.wizard.id">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.pde.ui.PDEPerspective">
         <newWizardShortcut
               id="%installoptions.wizard.id">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%installoptions.preference.page.name"
            category="net.sf.eclipsensis.dialogs.NSISPreferencePage"
            class="net.sf.eclipsensis.installoptions.dialogs.InstallOptionsPreferencePage"
            id="%installoptions.preference.page.id">
      </page>
   </extension>
   <extension
         id="InstallOptionsProblem"
         name="%installoptions.problem.marker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true" />
   </extension>
   <extension
       point="org.eclipse.ui.editors.annotationTypes">
       <type
           name="%installoptions.error.annotation.name"
           super="org.eclipse.ui.workbench.texteditor.error"
           markerSeverity="2">
       </type>
       <type
           name="%installoptions.warning.annotation.name"
           super="org.eclipse.ui.workbench.texteditor.warning"
           markerSeverity="1">
       </type>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
         name="%commands.category.name"
         description="%commands.category.description"
         id="%commands.category.id">
      </category>
      <command
         name="%switch.editor.command.name"
         description="%switch.editor.command.description"
         id="%switch.editor.command.id"
         categoryId="%commands.category.id"/>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            name="%editing.installoptions.source.name"
            description="%editing.installoptions.source.description"
            parentId="org.eclipse.ui.textEditorScope"
            id="%editing.installoptions.source.id">
      </context>
      <context
            name="%editing.installoptions.design.name"
            description="%editing.installoptions.design.description"
            parentId="org.eclipse.ui.contexts.window"
            id="%editing.installoptions.design.id">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="%switch.editor.command.id"
          contextId="%editing.installoptions.source.id"
          sequence="%switch.editor.command.keysequence"/>
      <key
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          commandId="%switch.editor.command.id"
          contextId="%editing.installoptions.design.id"
          sequence="%switch.editor.command.keysequence"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts file="contexts.xml"/>
   </extension>
   <extension
         id="InstallOptionsBuilder"
         name="%installoptions.builder.name"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="net.sf.eclipsensis.installoptions.builder.InstallOptionsBuilder"/>
      </builder>
   </extension>
   <extension
         id="InstallOptionsNature"
         name="%installoptions.nature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="net.sf.eclipsensis.installoptions.builder.InstallOptionsNature"/>
      </runtime>
      <builder id="%installoptions.builder.id"/>
   </extension>
   <extension point="org.eclipse.core.filebuffers.annotationModelCreation">
       <factory 
         extensions="%ini.extensions"
         class="net.sf.eclipsensis.installoptions.editor.annotation.InstallOptionsAnnotationModelFactory"/>
   </extension>
</plugin>
